<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="influxDbUrl" value="http://192.168.6.39:8086"/>
    <add key="createDbName" value="testMetricsDb" />
    <add key="writeTestMetricsDbName" value="testMetricsDb"/>
    <add key="testMeasurementName" value="sweetTestMeasurement"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>